	<div class="footer navbar-fixed-bottom">
    <div class="footer-text-container">
        <a href="/about">About autoEdit</a>
    </div><!-- footer-text-container -->
	</div><!-- footer navbar-fixed-bottom -->
