<div class="jumbotron">
  <p>
    Thanks for your interest in learning more about autoEdit.
  </p>
  <p>
    We have all been there, you got some great interviews and you are finally starting post-production. But no time to paper edit, let alone to work with transcriptions, and crafting the story out of the footage becomes a struggle, like wrestling with a bear.

    This is where autoEdit comes in, to simplify and speed-up video editing interviews.

    It saved me lots of time when I used it in my last production.
    And before you ask, the aim is not to replace the editor, but to help in getting a rough assembly done more quickly.

    I am very passionate about documentary film-making and ways to enable film-makers out there to craft great stories. I see autoEdit as an iterative process that will be shaped by your way of working on a film as much as mine, which is why I would love to hear from you about your current workflow.

    Ok, but what is autoEdit?
    It’s a digital paper editing software. For those less familiar with it, a paper edit is a script made from a selection of lines from the transcriptions of interviews.

    With autoEdit, you can analyse your transcripts and mark them with tags and create a paper edit,  that you can then export as an EDL. You can then open in the editing software of your choice to reconnect the corresponding video into a sequence, and finish working on your rough-cut assembly.

    For the transcriptions, autoEdit, takes .sbv and .srt subtitles files, and the suggested workflow is to use youtube semi-automated captioning, to get a first draft of the timecoded transcriptions, that you can then proofread. Google/Youtube is very accurate at putting timecodes at the end of sentences, which is one less thing to do.

    If you are itching to try it out on your next or current production, the beta is ready, I just need a minute of your time to answer a few questions about your current workflow and then you will have access the private beta [link here].

  </p>
</div>
