<div class="container editing-view-container">

  <div class="video-container">
    <div stye="background-color: #000; width: 250px; height: 164px;"></div>
  </div><!-- video-container -->

  <div class="transcription-container">
    <!-- CHANGE WITH DIV -->
    <textarea class="form-control" rows="20"></textarea>
   </div> <!-- transcription-container -->

  <div class="editing-container">
      <!-- CHANGE WITH DIV -->
    <textarea class="form-control" rows="20"></textarea>
  </div> <!-- editing-container -->

</div><!-- container editing-view-container -->
