<div class="container editing-view-container">

  <div class="video-container">
    <div stye="background-color: #000; width: 250px; height: 164px;">

    </div>
  </div>

  <div class="transcription-container">
    <textarea class="form-control" rows="20"></textarea>
  </div>

  <div class="editing-container">
    <textarea class="form-control" rows="20"></textarea>
  </div>

</div>
